.menu .recommendation-card {
  background-color: #242424;
  color: white;
  text-align: center;
  transition: 0.3s ease;
  padding: 50px 30px;
}

.recommendation-card img {
  max-width: 450px;
}

.menu .recommendation-card:hover {
  background-color: #111;
  transform: scale(1.02);
}

.menu .recommendation-card-subtitle {
  color: #cabb63b6;
  font-size: 28px;
  font-weight: 600;
  padding: 20px 0;
}

.menu .recommendation-card-description {
  font-size: 14px;
  text-align: start;
}

@media (max-width: 768px) {
  .recommendation-card img {
    max-width: 300px;
  }
}
