.services-card {
  width: 300px;
  color: #c0c6ba;
}

.services-card .services-card-img {
  position: relative;
}

.services-card .services-card-img img {
  width: 100%;
}

.services-card .services-card-icon {
    width: 70px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.services-card .services-card-title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
  text-transform: capitalize;
}

.services-card .services-card-description {
  font-size: 13px;
}

.services-card .services-card-button {
  background-color: #c0c6ba;
  color: #000000;
  border: none;
  font-weight: 700;
  padding: 10px 20px;
  margin-top: 10px;
}
