.events-cards-list {
  position: relative;
  display: flex;
  overflow-x: hidden;
  padding: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))
    url("../../../public/Img/Denim.svg");
}

.events-cards-list .card-container {
  display: flex;
  gap: 20px;
  animation: moveRightToLeft 10s linear infinite;
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
