.landing-page .hero-section {
  background-image: url("./landingPage/image000651.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh + 78px);
  position: relative;
  overflow: hidden;
}

.landing-page .hero-section .logo-container {
  position: absolute;
  top: 25%;
  left: 52%;
  transform: translate(-20%, -50%);
  z-index: 10;
}

.landing-page .hero-section .logo-container .logo {
  width: 100%;
  cursor: pointer;
  animation: spin 2s linear infinite;
  animation-play-state: paused;
}

.landing-page .hero-section .logo-container .logo:hover {
  animation-play-state: running;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1024px) {
  .landing-page .hero-section .logo-container {
    top: 27%;
    left: 55%;
  }
}

@media (max-width: 768px) {
  .landing-page .hero-section {
    height: calc(50vh + 110px);
  }

  .landing-page .hero-section .logo-container .logo {
    max-width: 150px;
  }
}
