/* Hero Section */
.landing-page .hero-section {
  background-image: url("./landingPage/image000651.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.landing-page .hero-section .logo-container {
  position: absolute;
  top: 22%;
  left: 52%;
  transform: translate(-20%, -50%);
  z-index: 10;
}

/* .landing-page .hero-section .logo-container .logo {
      transition: transform 1s linear;
      cursor: pointer;
    }
  
  .landing-page .hero-section .logo-container .logo:hover {
    transform: rotate(360deg);
  } */

.landing-page .hero-section .logo-container .logo {
  width: 100%;
  cursor: pointer;
  animation: spin 2s linear infinite;
  animation-play-state: paused;
}

.landing-page .hero-section .logo-container .logo:hover {
  animation-play-state: running;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Mobile Version */
@media (max-width: 1024px) {
  .landing-page .hero-section .logo-container {
    top: 27%;
    left: 55%;
  }
}
