body {
  background-image: linear-gradient(
      rgba(132, 134, 129, 0.593),
      rgba(132, 134, 129, 0.593)
    ),
    url("/Img/Denim.svg");
}

.gallery-hero-banner {
  background-image: url("/Img/Galerija/gallery-hero-background.png");
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
  height: 100vh;
}

.gallery-past {
  padding-top: 100px;
  padding-bottom: 100px;
}

.gallery-events {
  gap: 80px;
}

.gallery-event {
  background-image: url("/Img/Galerija/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  background-color: #000;
  height: 500px;
}

.gallery-event-info {
  width: 30%;
  margin-left: 100px;
  margin-right: 100px;
}

.gallery-h3 {
  font-size: 64px;
  font-weight: 600;
  color: white;
}

.gallery-event-info-p {
  font-size: 22px;
  font-weight: 400;
  color: white;
}

.gallery-event-carousel {
  width: 60%;
  display: flex;
  align-items: center;
}

.gallery-event-carousel-card img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.gallery-event-carousel-card img:hover {
  transform: scale(1.05);
}

.gallery-expand-button {
  width: 100%;
  height: 200px;
}

.gallery-expand-btn {
  width: 250px;
  height: 50px;
  background-color: white;
}

.gallery-expand-btn:hover {
  background-color: #d1c7c7db;
  color: white;
  transition: all 0.3s ease;
}

.gallery-event-carousel-card {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  transition: transform 0.3s ease;
}

.gallery-carousel-container {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

@keyframes smooth-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.react-multi-carousel-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  overflow: visible;
}

.react-multi-carousel-track {
  display: flex;
  align-items: center;
  transition: all 1s linear;
  will-change: transform;
}
