.events-cards-list {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1))
    url("../../../public/Img/Denim.svg");
  padding: 30px 0;
  width: 100%;
  overflow: hidden;
}

.events-cards-list .card-container {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: swipe 15s linear infinite;
}

.events-cards-list:hover .card-container {
  animation-play-state: paused;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

.events-cards-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
}

.loading-indicator {
  text-align: center;
  padding: 40px;
  font-size: 18px;
  color: #333;
}
